language: go

go:
    - 1.4.2

install:
    -

script:
    - ./build.sh

notifications:
    email:
        recipients:
            - tyrell.wkeene@gmail.com
        on_success: change
        on_failure: always
